@model Revuvu.UI.Models.ReviewListVM
@{
    ViewBag.Title = "Category";
}

<div class="container">
    <h2 id="page-header-name">@Model.Category.CategoryName</h2>
    <hr />

    @Html.Partial("_ReviewTemplate")

</div>

